// ref: https://khalilstemmler.com/blogs/typescript/eslint-for-typescript/
{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        // TODO: this rule needs to be enabled
        "@typescript-eslint/no-explicit-any": "off",
        "max-len": [
            "error",
            {
                "code": 120
            }
        ]
    }
}